@mixin header-button($btnColor) {
  padding-inline: $measure-4;
  padding-block: $measure-2;
  background-color: $btnColor;
}
@mixin floating(
  $border-radius: 8px,
  $box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2),
  $border: 1px solid black
) {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  border: $border;
}
